.desc {
  margin-left: 120px;
  margin-top: 30px;
  background-color: rgb(232,232,232);
  width: 850px;
}
.born {
  font-family: Arial, serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}
.bornDesc {
  padding-top: 2px;
  font-family: Arial, serif;
  font-size: 13px;
  padding-left: 10px;
  padding-bottom: 10px;
}
