.introduction div {
  font-family: Arial, serif;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  font-weight: bold;
}
hr {
  height: 5px;
  background-color: rgb(232,232,232);
  border: none;
  margin-top: 25px;
}
